$green: #1EA87C;
$grey: #878787;

.calculate-content {
    position: relative;
    padding: 16px 26px 55px 24px;
    font-size: 20px;
    color: #2F2F2F;
    z-index: 1;
}

.calculate-backgroud {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: #fff;
}

.room:first-child {
    margin-top: 20px;
}

.room {
    padding-top: 10px;

    img {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        vertical-align: text-top;
    }

    i {
        display: inline-block;
        float: right;
        height: 32px;
        width: 34px;
        background-image: url("../images/icon/plus.png");
        background-size: 100% 100%;
    }
}

.spaces {
  min-height:54px;
    span {
        display: inline-block;
        width: 50%;

        input {
            width: 89%;
            height: 32px;
            line-height: 32px;
            text-align: center;
            font-size: 15px;
            border:none;
        }

        hr {
            margin: 10px 0;
            border-style: solid;
            border-color: $green;
            border-width: 1px 1px 0;
        }

        .unit {
            display: inline-block;
            margin-left: -30%;
            font-size: 17px;
        }
    }

    .border-line {
        position: absolute;
        left: 50%;
        height: 35px;
        border: 1px solid #eee;
    }
}

.to-calculate {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 3;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    background-color: #ddd;
    color: #fff;
}

.active {
    background-color: $green;
}
