$green: #1EA87C;
$grey: #878787;

footer {
    position: fixed;
    bottom: 0;
    height: 52px;
    width: 100%;
    background-color: #fff;
    color: #fff;
    font-size: 18px;
    text-align: center;
    z-index: 10;
    .calculate,
    .user {
        width: 22%;
        margin-left: 7px;
        padding-top: 7px;
        color: $grey;
        font-size: 10px;
        float: left;
        text-align: center;

        span {
            display: block;
            padding-top: 3px;
        }

        &:hover {
            color: $green;
        }
    }

    .calculate {
        margin-left: -7px;
    }

    .icon {
        height: 23px;
        width: 22px;
        background-size: 100% 100%;
        margin-left: calc( 50% - 11px );
    }

    .user .icon {
        background-image: url("../images/icon/User.png");

        &:hover {
            background-image: url("../images/icon/User-active.png");
        }
    }

    .calculate .icon {
        background-image: url("../images/icon/Calculate.png");

        &:hover {
            background-image: url("../images/icon/Calculate-active.png");
        }
    }

    .appointment {
        float: right;
        width: calc( 55% - 20px );
        margin: 5px 10px;
        height: 41px;
        line-height: 41px;
        color: $green;
        border: 1px solid #ccc;
        border-radius: 20.5px;
    }
}

.home-content {
    padding-bottom: 52px;
    z-index: 9;
}

.product {
    position: relative;
    height: 300px;
    width: 100%;
    background-size: 100% 100%;

    .product-name {
        position: absolute;
        top: 200px;
        left: 15px;
        font-size: 20px;
        color: #fff;
    }

    .product-content {
        position: absolute;
        top: 220px;
        left: 0;
        width: calc( 100% - 14px );
        padding: 14px 0 0 14px;
        font-size: 14px;
        color: #fff;
    }
}

.product-1 {
    background-image: url('../images/product/01.png');
}

.product-2 {
    background-image: url('../images/product/02.png');
}

.product-3 {
    background-image: url('../images/product/03.png');
}

.product-4 {
    background-image: url('../images/product/04.png');
}
