$green: #1EA87C;
$grey: #878787;

.home-content {
    padding-bottom: 52px;
    z-index: 9;
}

.product {
    position: relative;
    height: 300px;
    width: 100%;
    background-size: 100% 100%;

    .product-name {
        position: absolute;
        top: 200px;
        left: 15px;
        font-size: 20px;
        color: #fff;
    }

    .product-content {
        position: absolute;
        top: 220px;
        left: 0;
        width: calc( 100% - 14px );
        padding: 14px 0 0 14px;
        font-size: 14px;
        color: #fff;
    }
}

.product-1 {
    background-image: url('../images/product/01.png');
}

.product-2 {
    background-image: url('../images/product/02.png');
}

.product-3 {
    background-image: url('../images/product/03.png');
}

.product-4 {
    background-image: url('../images/product/04.png');
}
