@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }

    :-moz-placeholder {
        @content
    }

    ::-moz-placeholder {
        @content
    }

    :-ms-input-placeholder {
        @content
    }
}

.login-backgroud {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/login-bg.png");
    background-size: 100% 100%;
}

.login-content {
    position: relative;
    padding: 80px 32px 0;
    font-size: 16px;
    color: #ABD8C3;
    z-index: 1;

    input {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-bottom: 32px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        font-size: 16px;
        color: #fff;
    }
    @include placeholder {
        color: #ABD8C3;
        font-size: 16px;
    }

    .divider {
        margin: 30px 0;
    }

    .alert {
        position: absolute;
        top: 225px;
        width: calc( 100% - 64px);
        margin-top: -20px;
        text-align: center;
        font-size: 14px;
        color: red;
    }
    .send-verify {
        position: absolute;
        right: 32px;
        line-height: 40px;
        font-size: 14px;
        color:#ddd;

    }
    .active-verify{
      color:#F7D060;
    }
}
