.main {
    z-index: 9;
    padding-bottom: 52px;
}

.banner-image {
    height: 200px;
    background-size: cover;
}

.banner-head {
    padding: 0 16px;
    height: 48px;
    margin: 0;
    color: #fff;
    background-color: #2d9f63;
    .banner-title {
        float: left;
        font-weight: normal;
        font-size: 22px;
        line-height: 48px;
        text-align: center;
    }
    .banner-price {
        line-height: 48px;
        vertical-align: middle;
        float: right;
    }
    .price-number {
        font-size: 22px;
    }
    .price-unit {
        font-size: 12px;
    }
}

.banner-body {
    background-color: #fff;
    padding: 18px 16px;
    .header {
        color: #000;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        line-height: 1;
        padding-bottom: 18px;
    }
    .content {
        color: #767676;
        font-size: 14px;
        line-height: 18px;
    }
}

.content-panel {
    margin-top: 12px;
    background-color: #fff;
    .header {
        font-weight: bold;
        padding: 12px 16px;
        border-bottom: 1px solid #eee;
        color: #000;
        font-size: 18px;
        line-height: 1;
    }
    .body {
        padding: 12px 16px;
    }
    .content {
        color: #767676;
        font-size: 14px;
        line-height: 18px;
    }
}

.material-list {
    padding: 12px 16px;
}

.material-panel {
    margin-bottom: 12px;
    height: auto!important;
    min-height: 48px;
    height: 48px;
    display: table;
    vertical-align: middle;
    &:last-child {
        margin-bottom: 0;
    }
}

.material-image {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
    img {
        width: 48px;
        height: 48px;
    }
}

.material-detail {
    padding-left: 14px;
    display: table-cell;
    vertical-align: middle;
    .title {
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        color: #000;
    }
    .content {
        font-size: 14px;
        line-height: 16px;
    }
}

.process-list {
    padding: 16px 16px;
}

.process-panel {
    padding-left: 20px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    &:not(:last-child) {
        .process-icon:after {
            position: absolute;
            left: 12px;
            bottom: -16px;
            content: "";
            width: 1px;
            height: 14px;
            background: #979797;
        }
    }
}

.process-icon {
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
    position: relative;
    img {
        width: 24px;
        height: 24px;
    }
}

.process-content {
    padding-left: 14px;
    display: table-cell;
    vertical-align: middle;
}
